<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="bookmark" href="/static/favicon.ico" />
    		<!-- Basic -->
    <meta name="keywords" content="个人博客" />
    <meta name="description" content="个人博客">
    <meta name="author" content="okler.net">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">


         <title>个人博客 | {% block title %}{% endblock %}</title>


    {% block style %}

    {% endblock %}

</head>
<body>
    {% block content %}

    {% endblock %}

    {% block script %}

    {% endblock %}
</body>
</html>